<!DOCTYPE html>
<html lang="en">

<head>
    <title>Page Title</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/tier1.css">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@1,800;1,900&display=swap" rel="stylesheet">
</head>

<body>

    <div class="header">
        <h1>Zifer.Me</h1>
    </div>

    <div class="navbar">
        <a href="principal">Principal</a>
        <a href="perfil" class="right">Perfil</a>
        <a href="faqs" class="right">FAQs</a>
        <a href="ask" class="right">AsK!!!</a>
    </div>

    <div class="row">
        <div class="principal">
               <h1>Cargos y Tarifas de Freelancer</h1>

    <section class="FeesAndCharges-section">
        <h2 class="FeesAndCharges-section-title">Para empleadores</h2>
        <section class="FeesAndCharges-subsection">
            <h3 class="FeesAndCharges-subsection-title">
                <a name="projectfees"></a>
                Proyectos
            </h3>
            <p>
                En Freelancer puedes registrarte, publicar un proyecto,
                recibir ofertas de los freelancers, revisar el portafolio del freelancer
                y discutir los requisitos del proyecto completamente gratis. Si decides adjudicar
                el proyecto y el freelancer acepta, te cobramos una pequeña
                tarifa de proyecto en relación con el valor de la oferta seleccionada, como
                tarifa de introducción.
             </p>
            <p>
                El costo y la manera en que se cobra la tarifa depende del tipo de
                    proyecto.
            </p>
            <p>
                Para los proyectos de precio fijo, se aplica una tarifa de 3% o €2.00 EUR (la que sea mayor) al momento en que un proyecto es aceptado por cada freelancer al que adjudicas. Si posteriormente pagas al freelancer más que el monto de oferta original, también cargaremos la tarifa de proyecto por cada pago excedente.
            </p>
            <p>
                Para proyectos por hora, se aplica una tarifa de 3% a cada pago que haces al freelancer.
            </p>
            <p>
                
                Puedes cancelar el proyecto desde tu panel en cualquier momento hasta 7 (siete) días después de que se ha aceptado que el proyecto reciba un reembolso total de tu tarifa.
            </p>
            <p>
                Se pueden comprar <a href="#projectupgrades">mejoras de proyecto</a> opcionales.
            </p>
        </section>
        <section class="FeesAndCharges-subsection">

            
            <h3 class="FeesAndCharges-subsection-title"><a name="contestfees"></a>Concursos</h3>
            <p>
                Al momento de publicar un concurso, los empleadores deben proporcionar los fondos equivalentes al premio total del concurso. Contamos con una Garantía de Devolución del Dinero para el dinero de este premio.
            </p>
            <p>
                La Garantía de devolución del dinero le da derecho a recuperar su dinero
                hasta por 30 días a partir del cierre si no está satisfecho con
                las participaciones presentadas. Puede obtener un reembolso con solo
                <a href="/support/">contactar a Soporte al cliente.</a>
            </p>
            <p>
                Tenga en cuenta que no hay reembolsos disponibles en &#039;Concursos garantizados&#039;,
                y este reembolso no incluye ninguna mejora que puedas haber
                selecccionado para el concurso. Si ya has seleccionado una participación como
                la ganadora y completado la entrega del concurso, lo que ha
                liberado el dinero del premio a ese ganador, no eres elegible para un
                reeembolso.
            </p>

            <p>No se cobrarán tarifas de publicación o adjudicación de concursos a los empleadores.</p>
            <p>Por cada participación adicional adjudicada se cobrará la comisión por el premio de dicha participación.</p>
            <p>Opcionalmente, se pueden comprar <a href="#contestupgrades">mejoras de concursos</a>.</p>
        </section>
        <section class="FeesAndCharges-subsection">
            <h3 class="FeesAndCharges-subsection-title">Servicios</h3>

            <p>
                Al momento de solicitar un servicio, los empleadores deben proporcionar fondos equivalentes al precio total del servicio. El pago está protegido por el sistema de pago de hitos de Freelancer. Solo libera el pago una vez que estés 100% satisfecho con el trabajo entregado.
            </p>
        </section>
    </section>

    <section class="FeesAndCharges-section">

                    <h2 class="FeesAndCharges-section-title">Para freelancers</h2>
            <p>
                Freelancer es libre de registrarse, crear un perfil, seleccionar habilidades de proyectos en los que estás interesado, subir un portafolio, recibir notificaciones de proyectos, conversar sobre los detalles del proyecto con el empleador, ofertar en proyectos (los miembros gratuitos reciben inicialmente          8 ofertas al mes)  y participar en concursos.            </p>
                    <p>
                Se pueden comprar <a href="#bidupgrades">mejoras de ofertas</a> opcionales para promover una oferta            </p>

        <section class="FeesAndCharges-subsection">
            <h3 class="FeesAndCharges-subsection-title">Proyectos</h3>
            <p>
                Para los proyectos de precio fijo, si se te adjudica un proyecto y
                aceptas, te cobramos una pequeña tarifa de proyecto en relación con
                el valor de la oferta seleccionada, como tarifa de introducción. Si posteriormente
                se te paga más que el importe original de la oferta, también
                cobraremos la tarifa del proyecto sobre cualquier pago excedente.</p>
            <p>
                Para los proyectos por hora, la tarifa se aplica sobre cada pago
                apenas este es realizado por el empleador.            </p>

            
                
                
                    <p>La cuota por proyectos de precio fijo es de 10% o
                        €4.00 EUR, la que sea mayor,
                        y 10% por proyectos por hora.</p>
                
                    </section>

        <section class="FeesAndCharges-subsection">
            <h3 class="FeesAndCharges-subsection-title">Concursos</h3>
            <p>
                La presentación de participaciones es gratuita. Se aplica una tarifa de concurso
                cuando se te adjudica el premio de un concurso. Esta tarifa se cobra
                cuando se libera el premio, lo que se produce después de que el concurso
                se te ha adjudicado y se ha completado la entrega de los materiales
                de la participación a satisfacción de la persona que publicó el concurso.
            </p>
            
            
                La tarifa del concurso de freelancer es de 10% o €4.00 EUR, la que sea mayor.
            
        </section>
        <section class="FeesAndCharges-subsection">
            <h3 class="FeesAndCharges-subsection-title">Servicios</h3>
            <p>
                Si posteriormente se te contrata para prestar dicho servicio, se te aplicará una tarifa del 20% del precio total del servicio. Esta tarifa se cobra al momento de solicitar el servicio mediante una reducción del pago que recibes.
            </p>
        </section>
        <section class="FeesAndCharges-subsection">

                    <h3 class="FeesAndCharges-subsection-title">Programa de Freelancers Preferentes</h3>
            <p>
                Si perteneces al Programa de Freelancers Preferentes, se te cobrará una comisión de proyecto del 15% cuando se te adjudique y aceptes un proyecto con Reclutador. Esta comisión no se cobrará por adelantado, como en los proyectos regulares, sino cuando recibas el pago.            </p>
        
        </section>
        <section class="FeesAndCharges-subsection">
            <h3 class="FeesAndCharges-subsection-title">Reembolsos como crédito en bonos</h3>
            <p>
                En algunos casos, se puede realizar el reembolso de las tarifas como un crédito
                de bono. Este bono solo puede utilizarse en el sitio y no puede retirarse
                o transferirse. El bono expirará en 90 días a partir de la fecha de recepción.
            </p>
        </section>
        <section class="FeesAndCharges-subsection">
            <h3 class="FeesAndCharges-subsection-title">Promoción de 0% de tarifas</h3>
                            <p>
                    Las comisiones de proyecto de Freelancer cobradas por freelancers que refieren a nuevos empleadores que no tienen una cuenta existente en Freelancer.com y que se unen y crean una cuenta nueva, se reducirán de 10% a 0%, para todos los proyectos futuros realizados por el freelancer que hace la recomendación para el empleador recomendado.                </p>
                        <p>
                Esto está sujeto a las siguientes condiciones:            </p>
            <ul>

                                    <li>
                        Los empleadores nuevos deben ser referidos usando los enlaces promocionales específicos en <a href="https://www.freelancer.com/no-commission">https://www.freelancer.com/no-commission</a>.                    </li>
                    <li>
                        Para que no quede ninguna duda, la comisión reducida de proyecto de Freelancer de 0% solo se aplica en relación con el trabajo nuevo realizado por el freelancer que ha solicitado correctamente esta promoción para el empleador específico con el que se relaciona la solicitud. Los nuevos proyectos deben comenzar después de que el empleador cree una cuenta nueva en Freelancer.com y se inicie en el uso de la cuenta nueva.                    </li>
                    <li>
                        Con esta promoción, las tarifas de comisión de proyecto para el freelancer solo se reducen del 10% al 0%.  Todos los otros cargos y tarifas no se ven afectados incluyendo, pero no limitándose a las comisiones de empleador y tarifas de transacción.                    </li>
                    <li>
                        Esta promoción no se aplica a los concursos.                    </li>
                    <li>
                        Freelancer se reserva el derecho de analizar las clasificaciones de los empleadores como empleadores nuevos para los fines de esta promoción y con el objetivo de garantizar el uso justo de la misma. Los empleadores deben haber trabajado con, y pagado, al freelancer que solicita usar esta promoción antes del inicio de esta promoción, por ejemplo desde otra plataforma. A los freelancers se les puede solicitar evidencia de este trabajo y pago previos antes de calificar para la reducción de la comisión. Para ser elegible para esta promoción, los empleadores no deben haber tenido ninguna cuenta activa en Freelancer.com desde la cual se hizo un pago dentro de los 6 meses inmediatamente anteriores a la creación de la cuenta nueva.                    </li>
                    <li>
                        Todos los otros elementos del Acuerdo de usuario se siguen aplicando. Consulta <a href="https://www.freelancer.com/about/terms">https://www.freelancer.com/about/terms</a>.                    </li>
                    <li>
                        Todos los otros elementos de los Cargos y Tarifas que componen los Términos Adicionales se siguen aplicando. Consulta <a href="https://www.freelancer.com/feesandcharges/">https://www.freelancer.com/feesandcharges</a>.                    </li>
                    <li>
                        Freelancer puede exigir que ambas partes llenen y completen su perfiles y/o aprueben las verificaciones de identidad antes de que se liberen los pagos.                    </li>
                    <li>
                        Freelancer puede exigir que los detalles de cualquier proyecto para el que se aplique la reducción de la comisión se llenen de manera apropiada.                    </li>
                    <li>
                        Esta promoción puede retirarse para un usuario específico, si se observan fraudes, anulaciones o devoluciones significativos y Freelancer cree que existe un riesgo de que los fondos sean sujetos a anulaciones o devoluciones, en casos de disputa entre el empleador y el freelancer o por cualquier otro motivo.                    </li>
                    <li>
                        Freelancer se reserva el derecho de rechazar el uso de esta promoción a su criterio único y absoluto, con respecto al uso justo de esta promoción y para prevenir cualquier sospecha de fraude.                    </li>
                    <li>
                        Freelancer se reserva el derecho de requerir la presentación de información adicional a cualquier parte que solicite usar esta promoción con el fin de investigar fraude y para fines de manejo de riesgo y otros relacionados.                    </li>
                    <li>
                        Freelancer se reserva el derecho de cancelar o modificar esta promoción en cualquier momento.                    </li>
                    <li>
                        Freelancer se reserva el derecho de cancelar la promoción en cualquier región si se considera o se torna ilegal ofrecer la promoción a cualquier residente de dicha región.                    </li>
                            </ul>
        </section>
    </section>
            <section class="FeesAndCharges-section">
            <h2 class="FeesAndCharges-section-title"><a name="membership"></a>Tipos de membresía</h2>
            <p>
                Selecciona de un rango de planes de membresía para determinar las cuotas que pagas por nuestro servicio. Puedes trabajar en el sitio ya sea como empleador o freelancer como miembro gratuito u obtener beneficios adicionales como miembro pagado al optar por un plan pagado.
            </p>
            <p>
                Las membresías deberán pagarse en forma mensual o anual en el aniversario de tu suscripción, a menos que la canceles. Si los fondos no son suficientes, intentaremos renovar tu membresía durante 30 días hasta que los fondos estén disponibles.
            </p>
            <p>
                Puedes cancelar tu membresía en cualquier momento desde la página de ajustes de usuario, Al hacer esto se suspenderá la facturación al final de tu periodo de suscripción sin costo adicional..
            </p>

            <p><a href="/membership/">Ver nuestro planes de membresía</a></p>
        </section>
    
    <section class="FeesAndCharges-section">
        <h2 class="FeesAndCharges-section-title">Otras tarifas</h2>

        <section class="FeesAndCharges-subsection">
            <h3 class="FeesAndCharges-subsection-title"><a name="projectupgrades"></a>Proyectos</h3>
                         <p>
                Las siguientes tarifas se cobran de manera opcional por servicios
                adicionales a menos que se especifique algo distinto de acuerdo a los beneficios
                de un plan de <a href="#membership">membresía pagada</a>:            </p>
            
            <table class="FeesAndCharges-table default-table">
                <tbody>
                    <tr>
                        <td>Publicación de un proyecto</td>
                        <td>GRATIS</td>
                    </tr>
                    <tr>
                        <td>
                            <span>Destacado</span>
                            <span class="Icon Icon--small"
                            data-feesandcharges-help
                            data-title="Destacado"
                            data-content="Los proyectos destacados atraen más ofertas y de mejor calidad.">
                                <svg class="Icon-image" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
  <path d="M12 2C6.486 2 2 6.487 2 12c0 5.515 4.486 10 10 10s10-4.485 10-10c0-5.513-4.486-10-10-10zm0 16.25c-.69 0-1.25-.56-1.25-1.25s.56-1.25 1.25-1.25 1.25.56 1.25 1.25-.56 1.25-1.25 1.25zm1-4.375V15h-2v-3h1c1.104 0 2-.897 2-2 0-1.104-.896-2-2-2s-2 .896-2 2H8c0-2.205 1.795-4 4-4s4 1.795 4 4c0 1.86-1.277 3.43-3 3.875z"/>
</svg>

                            </span>
                        </td>
                        <td>
                            €10.89 EUR
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span>Urgente</span>
                            <span class="Icon Icon--small"
                            data-feesandcharges-help
                            data-title="Urgente"
                            data-content="
                                Marca un proyecto como urgente. Recibe una respuesta más rápida
                                por parte de los freelancers para que tu proyecto comience dentro de 24 horas.">
                                <svg class="Icon-image" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
  <path d="M12 2C6.486 2 2 6.487 2 12c0 5.515 4.486 10 10 10s10-4.485 10-10c0-5.513-4.486-10-10-10zm0 16.25c-.69 0-1.25-.56-1.25-1.25s.56-1.25 1.25-1.25 1.25.56 1.25 1.25-.56 1.25-1.25 1.25zm1-4.375V15h-2v-3h1c1.104 0 2-.897 2-2 0-1.104-.896-2-2-2s-2 .896-2 2H8c0-2.205 1.795-4 4-4s4 1.795 4 4c0 1.86-1.277 3.43-3 3.875z"/>
</svg>

                            </span>
                        </td>
                        <td>
                            €10.89 EUR
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span>Privado</span>
                            <span class="Icon Icon--small"
                            data-feesandcharges-help
                            data-title="Privado"
                            data-content="
                                Oculta los detalles del proyecto de los motores de búsqueda y los usuarios que
                                no han iniciado sesión. Se recomienda para proyectos donde
                                la confidencialidad es obligatoria.">
                                <svg class="Icon-image" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
  <path d="M12 2C6.486 2 2 6.487 2 12c0 5.515 4.486 10 10 10s10-4.485 10-10c0-5.513-4.486-10-10-10zm0 16.25c-.69 0-1.25-.56-1.25-1.25s.56-1.25 1.25-1.25 1.25.56 1.25 1.25-.56 1.25-1.25 1.25zm1-4.375V15h-2v-3h1c1.104 0 2-.897 2-2 0-1.104-.896-2-2-2s-2 .896-2 2H8c0-2.205 1.795-4 4-4s4 1.795 4 4c0 1.86-1.277 3.43-3 3.875z"/>
</svg>

                            </span>
                        </td>
                                                    <td>
                                €22.99 EUR
                            </td>
                                            </tr>
                                            <tr>
                            <td>
                                <span>Tiempo completo</span>
                                <span class="Icon Icon--small"
                                data-feesandcharges-help
                                data-title="Tiempo completo"
                                data-content="
                                    Este proyecto es para contratar un puesto a tiempo completo o por comisiones (p. ej., ventas) y ahorrarás dinero si tienes trabajo continuo. Las comisiones de los proyectos solo se cobran si el valor del proyecto supera €3800.00 EUR calculado sobre el valor de cada pago realizado.">
                                    <svg class="Icon-image" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
  <path d="M12 2C6.486 2 2 6.487 2 12c0 5.515 4.486 10 10 10s10-4.485 10-10c0-5.513-4.486-10-10-10zm0 16.25c-.69 0-1.25-.56-1.25-1.25s.56-1.25 1.25-1.25 1.25.56 1.25 1.25-.56 1.25-1.25 1.25zm1-4.375V15h-2v-3h1c1.104 0 2-.897 2-2 0-1.104-.896-2-2-2s-2 .896-2 2H8c0-2.205 1.795-4 4-4s4 1.795 4 4c0 1.86-1.277 3.43-3 3.875z"/>
</svg>

                                </span>
                            </td>
                            <td>
                                €219.01 EUR
                            </td>
                        </tr>
                                        <tr>
                        <td>
                            <span>Reclutador</span>
                            <span class="Icon Icon--small"
                            data-feesandcharges-help
                            data-title="Reclutador"
                            data-content="
                                Nuestro agente explicará el proyecto contigo si es necesario y recomendará a un
                                ofertante en base a los requisitos del proyecto y el perfil del ofertante en línea.
                                El agente también puede invitar a más freelancers para que oferten.">
                                <svg class="Icon-image" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
  <path d="M12 2C6.486 2 2 6.487 2 12c0 5.515 4.486 10 10 10s10-4.485 10-10c0-5.513-4.486-10-10-10zm0 16.25c-.69 0-1.25-.56-1.25-1.25s.56-1.25 1.25-1.25 1.25.56 1.25 1.25-.56 1.25-1.25 1.25zm1-4.375V15h-2v-3h1c1.104 0 2-.897 2-2 0-1.104-.896-2-2-2s-2 .896-2 2H8c0-2.205 1.795-4 4-4s4 1.795 4 4c0 1.86-1.277 3.43-3 3.875z"/>
</svg>

                            </span>
                        </td>
                                                    <td>
                                €11.50 EUR
                            </td>
                                            </tr>
                    <tr>
                        <td>
                            <span>Acuerdo de confidencialidad</span>
                            <span class="Icon Icon--small"
                            data-feesandcharges-help
                            data-title="Acuerdo de confidencialidad"
                            data-content="
                                A los freelancers se les indica firmar un Acuerdo de confidencialidad cuando trabajen en un proyecto.
                                Los freelancers aceptan mantener la confidencialidad de los archivos y los detalles discutidos por mensajes privados.">
                                <svg class="Icon-image" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
  <path d="M12 2C6.486 2 2 6.487 2 12c0 5.515 4.486 10 10 10s10-4.485 10-10c0-5.513-4.486-10-10-10zm0 16.25c-.69 0-1.25-.56-1.25-1.25s.56-1.25 1.25-1.25 1.25.56 1.25 1.25-.56 1.25-1.25 1.25zm1-4.375V15h-2v-3h1c1.104 0 2-.897 2-2 0-1.104-.896-2-2-2s-2 .896-2 2H8c0-2.205 1.795-4 4-4s4 1.795 4 4c0 1.86-1.277 3.43-3 3.875z"/>
</svg>

                            </span>
                        </td>
                                                    <td>
                                €22.99 EUR
                            </td>
                                            </tr>
                    <tr>
                        <td>
                            <span>Acuerdo de PI</span>
                            <span class="Icon Icon--small"
                            data-feesandcharges-help
                            data-title="Acuerdo de PI"
                            data-content="
                                A los freelancers se les solicita firmar un Acuerdo de propiedad intelectual al trabajar en un proyecto.
                                Esto demuestra que todo el trabajo hecho te pertenece.">
                                <svg class="Icon-image" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
  <path d="M12 2C6.486 2 2 6.487 2 12c0 5.515 4.486 10 10 10s10-4.485 10-10c0-5.513-4.486-10-10-10zm0 16.25c-.69 0-1.25-.56-1.25-1.25s.56-1.25 1.25-1.25 1.25.56 1.25 1.25-.56 1.25-1.25 1.25zm1-4.375V15h-2v-3h1c1.104 0 2-.897 2-2 0-1.104-.896-2-2-2s-2 .896-2 2H8c0-2.205 1.795-4 4-4s4 1.795 4 4c0 1.86-1.277 3.43-3 3.875z"/>
</svg>

                            </span>
                        </td>
                                                    <td>
                                €22.99 EUR
                            </td>
                                            </tr>
                    <tr>
                        <td>
                            <span>Sellado</span>
                            <span class="Icon Icon--small"
                            data-feesandcharges-help
                            data-title="Sellado"
                            data-content="Sella todas las ofertas para que los Freelancers no puedan ver lo que otros están ofertando.">
                                <svg class="Icon-image" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
  <path d="M12 2C6.486 2 2 6.487 2 12c0 5.515 4.486 10 10 10s10-4.485 10-10c0-5.513-4.486-10-10-10zm0 16.25c-.69 0-1.25-.56-1.25-1.25s.56-1.25 1.25-1.25 1.25.56 1.25 1.25-.56 1.25-1.25 1.25zm1-4.375V15h-2v-3h1c1.104 0 2-.897 2-2 0-1.104-.896-2-2-2s-2 .896-2 2H8c0-2.205 1.795-4 4-4s4 1.795 4 4c0 1.86-1.277 3.43-3 3.875z"/>
</svg>

                            </span>
                        </td>
                                                    <td>
                            €10.89 EUR
                            </td>
                                            </tr>
                    <tr>
                        <td>
                            <span>Prioridad</span>
                            <span class="Icon Icon--small"
                            data-feesandcharges-help
                            data-title="Prioridad"
                            data-content="Lista tu proyecto inmediatamente, evitando la lista administrativa para revisar tu proyecto.">
                                <svg class="Icon-image" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
  <path d="M12 2C6.486 2 2 6.487 2 12c0 5.515 4.486 10 10 10s10-4.485 10-10c0-5.513-4.486-10-10-10zm0 16.25c-.69 0-1.25-.56-1.25-1.25s.56-1.25 1.25-1.25 1.25.56 1.25 1.25-.56 1.25-1.25 1.25zm1-4.375V15h-2v-3h1c1.104 0 2-.897 2-2 0-1.104-.896-2-2-2s-2 .896-2 2H8c0-2.205 1.795-4 4-4s4 1.795 4 4c0 1.86-1.277 3.43-3 3.875z"/>
</svg>

                            </span>
                        </td>
                        <td>
                            €5.00 EUR
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span>Extender</span>
                            <span class="Icon Icon--small"
                            data-feesandcharges-help
                            data-title="Extender"
                            data-content="Extiende el período de ofertas de tu proyecto en 7 días para aumentar la cantidad de tiempo para recibir ofertas.">
                                <svg class="Icon-image" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
  <path d="M12 2C6.486 2 2 6.487 2 12c0 5.515 4.486 10 10 10s10-4.485 10-10c0-5.513-4.486-10-10-10zm0 16.25c-.69 0-1.25-.56-1.25-1.25s.56-1.25 1.25-1.25 1.25.56 1.25 1.25-.56 1.25-1.25 1.25zm1-4.375V15h-2v-3h1c1.104 0 2-.897 2-2 0-1.104-.896-2-2-2s-2 .896-2 2H8c0-2.205 1.795-4 4-4s4 1.795 4 4c0 1.86-1.277 3.43-3 3.875z"/>
</svg>

                            </span>
                        </td>
                                                    <td>
                                €10.89 EUR
                            </td>
                                            </tr>
                </tbody>
            </table>
        </section>
        <section class="FeesAndCharges-subsection">
            <h3 class="FeesAndCharges-subsection-title"><a name="contestupgrades"></a>Concursos</h3>
                            <p>
                    Las siguientes cuotas se cobran opcionalmente por servicios adicionales. A menos que se especifique de otro modo de acuerdo a los beneficios de un <a href="#membership">plan de membresía pagado</a>:                </p>
            

            <table class="FeesAndCharges-table default-table">
                <tbody>
                    <tr>
                        <td>
                            <span>Publicación de un concurso</span>
                            <span class="Icon Icon--small"
                            data-feesandcharges-help
                            data-title="Publicación de un concurso"
                            data-content="
                                Es gratis publicar un concurso y recibir participaciones. Se debe pagar un premio monetario por adelantado para liberarlo como pago por el trabajo proporcionado. Las mejoras opcionales de concurso incurren en costos adicionales. Los empleadores califican para una devolución del 100% del dinero.">
                                <svg class="Icon-image" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
  <path d="M12 2C6.486 2 2 6.487 2 12c0 5.515 4.486 10 10 10s10-4.485 10-10c0-5.513-4.486-10-10-10zm0 16.25c-.69 0-1.25-.56-1.25-1.25s.56-1.25 1.25-1.25 1.25.56 1.25 1.25-.56 1.25-1.25 1.25zm1-4.375V15h-2v-3h1c1.104 0 2-.897 2-2 0-1.104-.896-2-2-2s-2 .896-2 2H8c0-2.205 1.795-4 4-4s4 1.795 4 4c0 1.86-1.277 3.43-3 3.875z"/>
</svg>

                            </span>
                        </td>
                        <td>GRATIS</td>
                    </tr>
                    <tr>
                        <td>
                            <span>Adjudicación de concurso</span>
                            <span class="Icon Icon--small"
                            data-feesandcharges-help
                            data-title="Adjudicación de concurso"
                            data-content="
                                No existen tarifas por adjudicar un premio a una participación en un concurso.
                                El empleador será transferido al proceso de entregar para
                                transferir legalmente la propiedad de los archivos.">
                                <svg class="Icon-image" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
  <path d="M12 2C6.486 2 2 6.487 2 12c0 5.515 4.486 10 10 10s10-4.485 10-10c0-5.513-4.486-10-10-10zm0 16.25c-.69 0-1.25-.56-1.25-1.25s.56-1.25 1.25-1.25 1.25.56 1.25 1.25-.56 1.25-1.25 1.25zm1-4.375V15h-2v-3h1c1.104 0 2-.897 2-2 0-1.104-.896-2-2-2s-2 .896-2 2H8c0-2.205 1.795-4 4-4s4 1.795 4 4c0 1.86-1.277 3.43-3 3.875z"/>
</svg>

                            </span>
                        </td>
                        <td>GRATIS</td>
                    </tr>

                    <tr>
                        <td>
                            <span>Adjudicación a freelancers adicionales</span>
                            <span class="Icon Icon--small"
                            data-feesandcharges-help
                            data-title="Adjudicación a freelancers adicionales"
                            data-content="
                                No existen tarifas por adjudicar un premio a participaciones adicionales.
                                El pago proporcionado a cada participación adicional adjudicada
                                debe ser igual al importe original del premio.">
                                <svg class="Icon-image" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
  <path d="M12 2C6.486 2 2 6.487 2 12c0 5.515 4.486 10 10 10s10-4.485 10-10c0-5.513-4.486-10-10-10zm0 16.25c-.69 0-1.25-.56-1.25-1.25s.56-1.25 1.25-1.25 1.25.56 1.25 1.25-.56 1.25-1.25 1.25zm1-4.375V15h-2v-3h1c1.104 0 2-.897 2-2 0-1.104-.896-2-2-2s-2 .896-2 2H8c0-2.205 1.795-4 4-4s4 1.795 4 4c0 1.86-1.277 3.43-3 3.875z"/>
</svg>

                            </span>
                        </td>
                        <td>GRATIS</td>
                    </tr>
                    <tr>
                        <td>
                            <span>Garantizado</span>
                            <span class="Icon Icon--small"
                            data-feesandcharges-help
                            data-title="Garantizado"
                            data-content="
                                Garantiza a los freelancers que se elegirá a un ganador y se le adjudicará el premio. Esto atraerá mejores participaciones por parte de un mayor número de freelancers. La garantía de la devolución del dinero no se aplica si un concurso tiene una mejora garantizada.">
                                <svg class="Icon-image" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
  <path d="M12 2C6.486 2 2 6.487 2 12c0 5.515 4.486 10 10 10s10-4.485 10-10c0-5.513-4.486-10-10-10zm0 16.25c-.69 0-1.25-.56-1.25-1.25s.56-1.25 1.25-1.25 1.25.56 1.25 1.25-.56 1.25-1.25 1.25zm1-4.375V15h-2v-3h1c1.104 0 2-.897 2-2 0-1.104-.896-2-2-2s-2 .896-2 2H8c0-2.205 1.795-4 4-4s4 1.795 4 4c0 1.86-1.277 3.43-3 3.875z"/>
</svg>

                            </span>
                        </td>
                        <td>GRATIS</td>
                    </tr>

                    <tr>
                        <td>
                            <span>Destacado</span>
                            <span class="Icon Icon--small"
                            data-feesandcharges-help
                            data-title="Destacado"
                            data-content="Los concursos destacados atraen más participaciones y de mejor calidad.">
                                <svg class="Icon-image" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
  <path d="M12 2C6.486 2 2 6.487 2 12c0 5.515 4.486 10 10 10s10-4.485 10-10c0-5.513-4.486-10-10-10zm0 16.25c-.69 0-1.25-.56-1.25-1.25s.56-1.25 1.25-1.25 1.25.56 1.25 1.25-.56 1.25-1.25 1.25zm1-4.375V15h-2v-3h1c1.104 0 2-.897 2-2 0-1.104-.896-2-2-2s-2 .896-2 2H8c0-2.205 1.795-4 4-4s4 1.795 4 4c0 1.86-1.277 3.43-3 3.875z"/>
</svg>

                            </span>
                        </td>
                        <td>
                            €30.00 EUR
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span>Concurso principal</span>
                            <span class="Icon Icon--small"
                            data-feesandcharges-help
                            data-title="Concurso principal"
                            data-content="
                                ¡Recibe participaciones de calidad! Los mejores freelancers serán invitados automáticamente a participar en tu concurso.">
                                <svg class="Icon-image" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
  <path d="M12 2C6.486 2 2 6.487 2 12c0 5.515 4.486 10 10 10s10-4.485 10-10c0-5.513-4.486-10-10-10zm0 16.25c-.69 0-1.25-.56-1.25-1.25s.56-1.25 1.25-1.25 1.25.56 1.25 1.25-.56 1.25-1.25 1.25zm1-4.375V15h-2v-3h1c1.104 0 2-.897 2-2 0-1.104-.896-2-2-2s-2 .896-2 2H8c0-2.205 1.795-4 4-4s4 1.795 4 4c0 1.86-1.277 3.43-3 3.875z"/>
</svg>

                            </span>
                        </td>
                        <td>
                            €30.00 EUR
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span>Urgente</span>
                            <span class="Icon Icon--small"
                            data-feesandcharges-help
                            data-title="Urgente"
                            data-content="
                                Recibe una respuesta más rápida por parte de los freelancers y obtén tu
                                participación favorita en 1-2 días. Tu concurso estará garantizado
                                para asegurarte de que obtengas resultados rápidos.">
                                <svg class="Icon-image" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
  <path d="M12 2C6.486 2 2 6.487 2 12c0 5.515 4.486 10 10 10s10-4.485 10-10c0-5.513-4.486-10-10-10zm0 16.25c-.69 0-1.25-.56-1.25-1.25s.56-1.25 1.25-1.25 1.25.56 1.25 1.25-.56 1.25-1.25 1.25zm1-4.375V15h-2v-3h1c1.104 0 2-.897 2-2 0-1.104-.896-2-2-2s-2 .896-2 2H8c0-2.205 1.795-4 4-4s4 1.795 4 4c0 1.86-1.277 3.43-3 3.875z"/>
</svg>

                            </span>
                        </td>
                        <td>
                            €35.00 EUR
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span>Resaltado</span>
                            <span class="Icon Icon--small"
                            data-feesandcharges-help
                            data-title="Resaltado"
                            data-content="Haz que tu concurso se destaque visualmente entre los demás al resaltar tu publicación.">
                                <svg class="Icon-image" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
  <path d="M12 2C6.486 2 2 6.487 2 12c0 5.515 4.486 10 10 10s10-4.485 10-10c0-5.513-4.486-10-10-10zm0 16.25c-.69 0-1.25-.56-1.25-1.25s.56-1.25 1.25-1.25 1.25.56 1.25 1.25-.56 1.25-1.25 1.25zm1-4.375V15h-2v-3h1c1.104 0 2-.897 2-2 0-1.104-.896-2-2-2s-2 .896-2 2H8c0-2.205 1.795-4 4-4s4 1.795 4 4c0 1.86-1.277 3.43-3 3.875z"/>
</svg>

                            </span>
                        </td>
                        <td>
                            €15.00 EUR
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span>Sellado</span>
                            <span class="Icon Icon--small"
                            data-feesandcharges-help
                            data-title="Sellado"
                            data-content="
                                Solo tú puedes ver todas las participaciones. Cada freelancer podrá ver únicamente su propia participación. Esto te asegurará obtener ideas únicas.">
                                <svg class="Icon-image" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
  <path d="M12 2C6.486 2 2 6.487 2 12c0 5.515 4.486 10 10 10s10-4.485 10-10c0-5.513-4.486-10-10-10zm0 16.25c-.69 0-1.25-.56-1.25-1.25s.56-1.25 1.25-1.25 1.25.56 1.25 1.25-.56 1.25-1.25 1.25zm1-4.375V15h-2v-3h1c1.104 0 2-.897 2-2 0-1.104-.896-2-2-2s-2 .896-2 2H8c0-2.205 1.795-4 4-4s4 1.795 4 4c0 1.86-1.277 3.43-3 3.875z"/>
</svg>

                            </span>
                        </td>
                                                    <td>
                                €30.00 EUR
                            </td>
                                            </tr>
                    <tr>
                        <td>
                            <span>Privado</span>
                            <span class="Icon Icon--small"
                            data-feesandcharges-help
                            data-title="Privado"
                            data-content="Mantén tu concurso confidencial. Los concursos privados se encuentran ocultos de los motores de búsqueda y usuarios públicos.">
                                <svg class="Icon-image" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
  <path d="M12 2C6.486 2 2 6.487 2 12c0 5.515 4.486 10 10 10s10-4.485 10-10c0-5.513-4.486-10-10-10zm0 16.25c-.69 0-1.25-.56-1.25-1.25s.56-1.25 1.25-1.25 1.25.56 1.25 1.25-.56 1.25-1.25 1.25zm1-4.375V15h-2v-3h1c1.104 0 2-.897 2-2 0-1.104-.896-2-2-2s-2 .896-2 2H8c0-2.205 1.795-4 4-4s4 1.795 4 4c0 1.86-1.277 3.43-3 3.875z"/>
</svg>

                            </span>
                        </td>
                                                    <td>
                                €20.00 EUR
                            </td>
                                            </tr>
                    <tr>
                        <td>
                            <span>Acuerdo de confidencialidad</span>
                            <span class="Icon Icon--small"
                            data-feesandcharges-help
                            data-title="Acuerdo de confidencialidad"
                            data-content="Para mantener la confidencialidad de los datos de tu concurso, los freelancers deben firmar un Acuerdo de Confidencialidad.">
                                <svg class="Icon-image" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
  <path d="M12 2C6.486 2 2 6.487 2 12c0 5.515 4.486 10 10 10s10-4.485 10-10c0-5.513-4.486-10-10-10zm0 16.25c-.69 0-1.25-.56-1.25-1.25s.56-1.25 1.25-1.25 1.25.56 1.25 1.25-.56 1.25-1.25 1.25zm1-4.375V15h-2v-3h1c1.104 0 2-.897 2-2 0-1.104-.896-2-2-2s-2 .896-2 2H8c0-2.205 1.795-4 4-4s4 1.795 4 4c0 1.86-1.277 3.43-3 3.875z"/>
</svg>

                            </span>
                        </td>
                                                    <td>
                                €20.00 EUR
                            </td>
                                            </tr>
                    <tr>
                        <td>
                            <span>Extender</span>
                            <span class="Icon Icon--small"
                            data-feesandcharges-help
                            data-title="Extender"
                            data-content="
                                Amplía la duración de tu concurso en 3, 5, 7, 14 o 21 días.
                                Tu concurso estará garantizado para asegurarse de que los freelancers
                                serán recompensados por su trabajo adicional.">
                                <svg class="Icon-image" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
  <path d="M12 2C6.486 2 2 6.487 2 12c0 5.515 4.486 10 10 10s10-4.485 10-10c0-5.513-4.486-10-10-10zm0 16.25c-.69 0-1.25-.56-1.25-1.25s.56-1.25 1.25-1.25 1.25.56 1.25 1.25-.56 1.25-1.25 1.25zm1-4.375V15h-2v-3h1c1.104 0 2-.897 2-2 0-1.104-.896-2-2-2s-2 .896-2 2H8c0-2.205 1.795-4 4-4s4 1.795 4 4c0 1.86-1.277 3.43-3 3.875z"/>
</svg>

                            </span>
                        </td>
                        <td>
                        Costos:<br>
                        3 días = 15% del premio del concurso<br>
                        5 días = 20% del premio del concurso<br>
                        7 días = 30% del premio del concurso<br>
                        14 días = 40% del premio del concurso<br>
                        21 días = 50% del premio del concurso<br>
                        La mitad de los costos se utilizará para aumentar el premio del concurso (redondeado al número entero más cercano).

                        </td>
                    </tr>
                </tbody>
            </table>
        </section>
        <section class="FeesAndCharges-subsection">
            <h3 class="FeesAndCharges-subsection-title"><a name="bidupgrades"></a>Tarifas de ofertas</h3>
            <table class="FeesAndCharges-table default-table">
                <tbody>
                    <tr>
                        <td>
                            <span>Ofertar en proyectos</span>
                            <span class="Icon Icon--small"
                            data-feesandcharges-help
                            data-title="Ofertar en proyectos"
                            data-content="
                                Los freelancers pueden ofertar gratis hasta su asignación mensual
                                de ofertas proporcionadas por su paquete de membresía. Las mejoras opcionales para
                                promover una oferta incurrirán en costos adicionales.">
                                <svg class="Icon-image" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
  <path d="M12 2C6.486 2 2 6.487 2 12c0 5.515 4.486 10 10 10s10-4.485 10-10c0-5.513-4.486-10-10-10zm0 16.25c-.69 0-1.25-.56-1.25-1.25s.56-1.25 1.25-1.25 1.25.56 1.25 1.25-.56 1.25-1.25 1.25zm1-4.375V15h-2v-3h1c1.104 0 2-.897 2-2 0-1.104-.896-2-2-2s-2 .896-2 2H8c0-2.205 1.795-4 4-4s4 1.795 4 4c0 1.86-1.277 3.43-3 3.875z"/>
</svg>

                            </span>
                        </td>
                        <td>GRATIS</td>
                    </tr>
                    <tr>
                        <td>
                            <span>Oferta patrocinada</span>
                            <span class="Icon Icon--small"
                            data-feesandcharges-help
                            data-title="Oferta patrocinada"
                            data-content="
                                Patrocinar tu oferta es una forma de llamar la atención inmediata de los empleadores.
                                Utiliza esta función para que tu oferta aparezca en los primeros lugares de la lista de ofertas
                                mediante el pago de un importe de patrocinio. Las ofertas patrocinadas aparecen en la lista
                                de ofertas según el mayor importe pagado y luego por reputación.">
                                <svg class="Icon-image" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
  <path d="M12 2C6.486 2 2 6.487 2 12c0 5.515 4.486 10 10 10s10-4.485 10-10c0-5.513-4.486-10-10-10zm0 16.25c-.69 0-1.25-.56-1.25-1.25s.56-1.25 1.25-1.25 1.25.56 1.25 1.25-.56 1.25-1.25 1.25zm1-4.375V15h-2v-3h1c1.104 0 2-.897 2-2 0-1.104-.896-2-2-2s-2 .896-2 2H8c0-2.205 1.795-4 4-4s4 1.795 4 4c0 1.86-1.277 3.43-3 3.875z"/>
</svg>

                            </span>
                        </td>
                        <td>0.75% del monto de la oferta (mínimo $5.00 USD, máximo $20.00 USD)</td>
                    </tr>
                    <tr>
                        <td>
                            <span>Oferta destacada</span>
                            <span class="Icon Icon--small"
                            data-feesandcharges-help
                            data-title="Oferta destacada"
                            data-content="Destaca tu oferta para resaltar visualmente frente al empleador de entre los demás ofertantes.">
                                <svg class="Icon-image" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
  <path d="M12 2C6.486 2 2 6.487 2 12c0 5.515 4.486 10 10 10s10-4.485 10-10c0-5.513-4.486-10-10-10zm0 16.25c-.69 0-1.25-.56-1.25-1.25s.56-1.25 1.25-1.25 1.25.56 1.25 1.25-.56 1.25-1.25 1.25zm1-4.375V15h-2v-3h1c1.104 0 2-.897 2-2 0-1.104-.896-2-2-2s-2 .896-2 2H8c0-2.205 1.795-4 4-4s4 1.795 4 4c0 1.86-1.277 3.43-3 3.875z"/>
</svg>

                            </span>
                        </td>
                        <td>
                            €1.00 EUR
                        </td>
                    </tr>
                </tbody>
            </table>
        </section>
        <section class="FeesAndCharges-subsection">
            <h3 class="FeesAndCharges-subsection-title">
                <a name="entryfees"></a>Tarifas de participación en concurso
            </h3>
            <table class="FeesAndCharges-table default-table">
                <tbody>
                    <tr>
                        <td>Enviar una participación</td>
                        <td>GRATIS</td>
                    </tr>
                    <tr>
                        <td>

                            <span class="FeesAndCharges-table-featureList"
                            data-feesandcharges-help
                            data-title="Participación sellada"
                            data-content="Una opción para que los freelancers se aseguren de que sus participaciones son únicas y originales.
                                La participación solo será visible para el tenedor del concurso y para el freelancer propietario de esta.">
                                Participación sellada                            </span>
                        </td>
                                                    <td>
                                €0.50 EUR
                            </td>
                                            </tr>
                    <tr>
                        <td>

                            <span class="FeesAndCharges-table-featureList"
                            data-feesandcharges-help
                            data-title="Resaltar participación"
                            data-content="Una opción para que los freelancers muestren sus participaciones con un borde amarillo
                                haciendo que destaquen entre todas las demás participaciones.">
                                Resaltar participación
                            </span>
                        </td>
                        <td>
                            €0.50 EUR
                        </td>
                    </tr>
                </tbody>
            </table>
        </section>
        <section class="FeesAndCharges-subsection">
            <h3 class="FeesAndCharges-subsection-title">Tarifas de directorio</h3>
            <table class="FeesAndCharges-table default-table">
                <tbody>
                    <tr>
                        <td>
                            <span>Directorio patrocinado</span>
                            <span class="Icon Icon--small"
                            data-feesandcharges-help
                            data-title="Directorio patrocinado"
                            data-content="Haz que tu publicación se destaque durante siete días entre las principales de una categoría de directorio">
                                <svg class="Icon-image" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
  <path d="M12 2C6.486 2 2 6.487 2 12c0 5.515 4.486 10 10 10s10-4.485 10-10c0-5.513-4.486-10-10-10zm0 16.25c-.69 0-1.25-.56-1.25-1.25s.56-1.25 1.25-1.25 1.25.56 1.25 1.25-.56 1.25-1.25 1.25zm1-4.375V15h-2v-3h1c1.104 0 2-.897 2-2 0-1.104-.896-2-2-2s-2 .896-2 2H8c0-2.205 1.795-4 4-4s4 1.795 4 4c0 1.86-1.277 3.43-3 3.875z"/>
</svg>

                            </span>
                        </td>
                        <td>
                            Según se seleccione al momento del patrocinio
                            (mínimo
                            €35.00 EUR)
                        </td>
                    </tr>
                </tbody>
            </table>
        </section>
        <section class="FeesAndCharges-subsection">
            <h3 class="FeesAndCharges-subsection-title">Exámenes</h3>
            <table class="FeesAndCharges-table default-table">
                <tbody>
                    <tr>
                        <td>
                            <span>Hacer un examen</span>
                            <span class="Icon Icon--small"
                            data-feesandcharges-help
                            data-title="Hacer un examen"
                            data-content="Tenemos una variedad de exámenes gratuitos y pagados que puedes completar para demostrar tu capacidad.">
                                <svg class="Icon-image" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
  <path d="M12 2C6.486 2 2 6.487 2 12c0 5.515 4.486 10 10 10s10-4.485 10-10c0-5.513-4.486-10-10-10zm0 16.25c-.69 0-1.25-.56-1.25-1.25s.56-1.25 1.25-1.25 1.25.56 1.25 1.25-.56 1.25-1.25 1.25zm1-4.375V15h-2v-3h1c1.104 0 2-.897 2-2 0-1.104-.896-2-2-2s-2 .896-2 2H8c0-2.205 1.795-4 4-4s4 1.795 4 4c0 1.86-1.277 3.43-3 3.875z"/>
</svg>

                            </span>
                        </td>
                        <td>
                            De acuerdo al examen. Según se especifica antes de la compra. Generalmente, gratis,
                            €5.00 EUR, €10.00 EUR, o €15.00 EUR.
                        </td>
                    </tr>
                </tbody>
            </table>
        </section>
        <section class="FeesAndCharges-subsection" id="transactionFees">
            <h3 class="FeesAndCharges-subsection-title">Tarifas de transacción</h3>
            <table class="FeesAndCharges-table default-table">
                <tbody>
                    <tr>
                        <td>Tarifas de transacción incurridas por utilizar tarjeta de crédito, PayPal o Skrill.*</td>
                        <td>
                            €0.35 EUR
                            + 2.3%</td>
                    </tr>
                    <tr>
                        <td>Depósito bancario local</td>
                        <td>GRATIS</td>
                    </tr>
                    <tr>
                        <td>Transferencia bancaria internacional</td>
                        <td>
                            €15.00 EUR
                        </td>
                    </tr>
                </tbody>
            </table>
                            *Los usuarios australianos incurren en un cargo de $0.30AUD + 0.99% por transacciones con tarjeta de crédito o débito.                    </section>
        <section class="FeesAndCharges-subsection">
            <h3 class="FeesAndCharges-subsection-title">Tarifas de arbitraje</h3>
            <p>
                La tarifa de arbitraje para la disputa de un hito es de €5.00 EUR o 5%, la cifra que sea mayor.
            </p>
            <p>
                Nuestro sistema de resolución de disputas está diseñado para permitir que ambas partes
                resuelvan asuntos correspondientes a pagos de hitos entre ellos, sin arbitraje.
            </p>
            <p>
                Después de 4 días de presentada una disputa (o 7 días si la disputa es
                presentada por el freelancer) cualquiera de las partes puede elegir
                escalar la disputa a un arbitraje pagado. La otra parte entonces
                tendrá 4 días más para aceptar pagar esta tarifa y ambas partes
                podrán presentar cualquier evidencia final. Si la otra parte no cumple
                con pagar a tiempo, perderá la disputa.
            </p>
            <p>
                La tarifa de arbitración será reembolsada al ganador de la disputa.
            </p>
        </section>
        <section class="FeesAndCharges-subsection">
            <h3 class="FeesAndCharges-subsection-title">Tarifas de retiros</h3>
            <p>
                Se pueden aplicar tarifas de manera opcional dependiendo del método de retiro.
                Las tarifas adicionales pueden ser aplicadas por el tercero que ofrece el método de retiro.
            </p>

            <table class="FeesAndCharges-table default-table">
                <tbody>
                    <tr>
                        <td>Retiro exprés</td>
                        <td>GRATIS</td>
                    </tr>
                    <tr>
                        <td>PayPal</td>
                        <td>GRATIS</td>
                    </tr>
                    <tr>
                        <td>Skrill (Moneybookers)</td>
                        <td>GRATIS</td>
                    </tr>
                    <tr>
                        <td>Tarjeta de débito Payoneer</td>
                        <td>GRATIS</td>
                    </tr>
                    <tr>
                        <td>Transferencia internacional</td>
                        <td>
                            €25.00 EUR
                        </td>
                    </tr>
                </tbody>
            </table>
            <p>Requerimos un retiro de, como mínimo, $30 sin considerar la comisión.</p>
        </section>
        <section class="FeesAndCharges-subsection">
            <h3 class="FeesAndCharges-subsection-title">Tarifa de Mantenimiento</h3>

            <p>
                Las Cuentas de usuario que no han iniciado sesión durante 6 meses incurrirán en una tarifa de mantenimiento máxima de $10.00 USD por mes hasta que la cuenta sea cancelada o reactivada. La tarifa está destinada a cubrir los costos de almacenamiento, ancho de banda, soporte y administración que implica proporcionar hosting al perfil del usuario, el almacenamiento del portafolio, la publicación en directorios, la prestación del servicio &quot;Hire Me&quot;, el almacenamiento de archivos y el almacenamiento de mensajes. Estas tarifas serán reembolsadas cuando los usuarios lo soliciten en la subsiguiente reactivación.
            </p>
        </section>
        <section class="FeesAndCharges-subsection">
            <h3 class="FeesAndCharges-subsection-title">Impuestos</h3>
            <p>Taxes are applied based on local rates and rules defined by the user&#039;s country of residence/ registered country. </p>
            <table class="FeesAndCharges-table default-table">
                <tbody>
                    <tr>
                        <td>Australia - Goods and Service Tax (GST)</td>
                        <td>10%</td>
                    </tr>
                    <tr>
                        <td>European Union - Value Added Tax (VAT)</td>
                        <td><a href="https://ec.europa.eu/taxation_customs/sites/taxation/files/resources/documents/taxation/vat/how_vat_works/rates/vat_rates_en.pdf">VAT rates</a></td>
                    </tr>
                    <tr>
                        <td>India - Tax Collected at Source (TCS)</td>
                        <td>1%</td>
                    </tr>
                    <tr>
                        <td>Russia - Value Added Tax (VAT)</td>
                        <td>20%</td>
                    </tr>
                    <tr>
                        <td>Switzerland - Value Added Tax (VAT)</td>
                        <td>7.7%</td>
                    </tr>
                </tbody>
            </table>
            <p>  </p>
        </section>
        <section class="FeesAndCharges-subsection">
            <h3 class="FeesAndCharges-subsection-title">Acuerdo de usuario</h3>


                           <p>
                    Los cargos y tarifas resumidos en esta página se rigen por los términos del <a href="/about/terms">Acuerdo de Usuario</a> de Freelancer y las políticas relacionadas del sitio. El Acuerdo de Usuario incluye otros términos importantes y debe leerse en su totalidad. En particular, la sección 23 del Acuerdo de Usuario especifica las consecuencias de la rescisión por infracciones del Acuerdo de Usuario. Dichas consecuencias pueden incluir multas por daños en las que Freelancer incurrirá como resultado de las acciones que infringen el Acuerdo de Usuario.                </p>
                    </section>
    </section>
</article>


        </div>
    </div>

    <div class="footer">
        <h2>Zifer.Me Copyrigth 2020</h2>
    </div>

</body>

</html>