<!DOCTYPE html>
<html lang="en">

<head>
    <title>Page Title</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/tier1.css">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@1,800;1,900&display=swap" rel="stylesheet">
</head>

<body>

    <div class="header">
        <h1>Zifer.Me</h1>
    </div>

    <div class="navbar">
        <a href="principal">Principal</a>
        <a href="perfil" class="right">Perfil</a>
        <a href="faqs" class="right">FAQs</a>
        <a href="ask" class="right">AsK!!!</a>
    </div>

    <div class="row">
        <div class="principal">
			       <article class="CodeOfConduct Container">
    <div class="Grid">
        <div class="CodeOfConduct-item Grid-col">
            <h1>Código de Conducta de Freelancer</h1>
            <p>Freelancer tiene la obligación de dirigir su negocio de conformidad con todas las normas, reglamentos y leyes correspondientes. Estamos comprometidos a ayudar a todos los usuarios a actuar de manera tal que se preserve la confianza y el respeto. Este Código es una guía para utilizar nuestro Sitio de manera apropiada y debe seguirse en todo momento. Los incumplimientos a este Código se manejan, de acuerdo con nuestra Política de infracciones y resultarán en una acción disciplinaria, pudiendo llegar incluso a la cancelación de la cuenta. Cualquier pregunta relacionada con este Código deberá ser dirigida al Equipo de soporte de Freelancer, donde podremos proporcionarte información adicional sobre los procedimientos correctos a seguir, así como resolver cualquier inquietud que puedas tener.</p>
        </div>
        <div class="CodeOfConduct-item Grid-col Grid-col--tablet-5">
            <h2>Comportamiento personal</h2>
            <ul class="text-list">
                <li><strong>Actuaré</strong> de manera ética y con integridad.
                <li><strong>Cumpliré</strong> con todas las políticas de Freelancer.
                <li><strong>Respetaré</strong> los derechos de todos los usuarios.
                <li><strong>No</strong> sacaré ventaja de la información confidencial ni participaré en ninguna práctica ilegal.
                <li><strong>Tendré</strong> en consideración los intereses, derechos y seguridad de los usuarios.
                <li><strong>No</strong> acosaré, haré bullying ni discriminaré.
                <li><strong>No</strong> falsificaré mi propia identidad o la de cualquier otra persona y proporcionaré información verdadera y correcta.
                <li><strong>No</strong> intentaré comunicarme o recibir pagos fuera del sitio.
                <li><strong>No</strong> acordaré realizar trabajos que no soy capaz de hacer.
                <li><strong>No</strong> solicitaré el desembolso anticipado de los pagos de los hitos antes de que haya entregado un trabajo.
            </ul>
        </div>
        <div class="CodeOfConduct-item Grid-col Grid-col--tablet-5 Grid-col--flushRight">
            <h2>Contenido del usuario</h2>
            <strong>Soy responsable del contenido que publico en Freelancer  y:</strong>
            <ul class="text-list">
                <li><strong>No publicaré contenido que</strong> infrinja algún copyright u otro derecho de propiedad intelectual.
                <li><strong>No publicaré contenido que</strong> infrinja alguna ley o reglamento.
                <li><strong>No publicaré contenido que</strong> sea difamatorio.
                <li><strong>No publicaré contenido que</strong> sea obsceno o contenga pornografía infantil.
                <li>
                                        <strong>No publicaré contenido que</strong> incluya información falsa, incompleta o inexacta acerca de cualquier persona, producto o servicio.
                <li><strong>No publicaré contenido que</strong> contenga algún virus o rutinas de programación que tengan la intención de dañar algún sistema.
                <li><strong>No publicaré contenido que</strong> cree responsabilidad para Freelancer o dañe sus operaciones comerciales o reputación.
            </ul>
        </div>
        <div class="CodeOfConduct-item Grid-col Grid-col--tablet-5">
            <h2>Confidencialidad</h2>
            <ul class="text-list">
            <li><strong>Respetaré</strong> la confidencialidad y privacidad.
            <li><strong>No</strong> divulgaré información o documentos que he conseguido, aparte de lo exigido por ley o cuando Freelancer dé su respectiva autorización.
            </ul>
        </div>
        <div class="CodeOfConduct-item Grid-col Grid-col--tablet-5 Grid-col--flushRight">
            <h2>Contacto</h2>
            <ul class="text-list">
                <li><strong>No</strong> pediré a otros usuarios de Freelancer sus datos de contacto privados y solo me comunicaré con ellos a través de las funciones oficiales del sitio web.
            </ul>
        </div>
        <div class="CodeOfConduct-item Grid-col Grid-col--tablet-5">
            <h2>Fraude</h2>
            <ul class="text-list">
                <li><strong>No participaré</strong> en actividades fraudulentas.
                <li><strong>No</strong> crearé múltiples cuentas.
                <li><strong>No</strong> utilizaré el sitio para transferir fondos ilegales.
                <li>
                                        <strong> No</strong> usaré el SItio para generar comentarios falsos acerca de cualquier persona, producto o servicio.
            </ul>
        </div>
        <div class="CodeOfConduct-item Grid-col Grid-col--tablet-5 Grid-col--flushRight">
            <h2>Comunicación</h2>
            <ul class="text-list">
                <li><strong>Evitaré</strong> la exageración, los comentarios despectivos y las referencias inapropiadas.
                <li><strong>No</strong> me dedicaré a realizar ataques personales, criticismo negativo o injusto de otra índole y cualquier conducta no profesional.
            </ul>
        </div>
        <div class="CodeOfConduct-item Grid-col Grid-col--tablet-5">
            <h2>Ofertas</h2>
            <ul class="text-list">
                <li><strong>No ofreceré</strong> un precio más bajo para evitar comisiones.
                <li><strong>No</strong> participaré en proyectos que impliquen un comportamiento ilegal.
                <li><strong>Solo</strong> presentaré propuestas en proyectos que planeo concluir.
            </ul>
        </div>
        <div class="CodeOfConduct-item Grid-col Grid-col--tablet-5 Grid-col--flushRight">
            <h2>Spam o publicidad</h2>
            <ul class="text-list">
                <li><strong>No</strong> haré spam o publicidad a mi sitio web o servicio, a menos de que esto esté permitido.
            </ul>
        </div>
        <div class="CodeOfConduct-item Grid-col Grid-col--tablet-5">
            <h2>Socios</h2>
            <ul class="text-list">
                <li><strong>No</strong> me referiré a mí mismo al Programa de Afiliados.
                <li><strong>No</strong> conseguiré nombres de listas de envíos, emails de grupos, etc. para enviar emails no solicitados ("Spam").
            </ul>
        </div>
        <div class="CodeOfConduct-item Grid-col Grid-col--tablet-5 Grid-col--flushRight">
            <h2>Pagos</h2>
            <ul class="text-list">
                <li>                <strong> No</strong> utilizaré Freelancer para facilitar el intercambio de dinero incluyendo, pero no limitándose a las criptomonedas (p. ej., Bitcoin, Ethereum, etc).            </ul>
        </div>
    </div>
</article>

        </div>
    </div>

    <div class="footer">
        <h2>Zifer.Me Copyrigth 2020</h2>
    </div>

</body>

</html>