<!DOCTYPE html>
<html lang="en">

<head>
    <title>Page Title</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/tier1.css">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@1,800;1,900&display=swap" rel="stylesheet">
</head>

<body>

    <div class="header">
        <h1>Zifer.Me</h1>
    </div>

    <div class="navbar">
        <a href="principal">Principal</a>
        <a href="perfil" class="right">Perfil</a>
        <a href="faqs" class="right">FAQs</a>
        <a href="ask" class="right">AsK!!!</a>
    </div>

    <div class="row">
        <div class="principal">
            <strong>¿Qué es el Índice de Confianza Laboral?</strong></h2>
<p>PageGroup ha elaborado un estudio para saber la percepción del mercado laboral que tienen los candidatos que aplican a nuestras ofertas publicadas en la web de Michael Page y Page Personnel. En el primer trimestre han respondido más de 13.300 cuestionarios, en el segundo trimestre fueron 15.600 candidatos y en el tercer trimestre más de 6.500 profesionales de diferentes países de Europa los que participaron en el estudio. Incluyendo a España, Portugal, Italia, Turquía, Francia, Alemania, Suiza, Polonia, Austria, Países Bajos, Suecia y Bélgica.</p>
<h2>
	<strong>¿Quien participa en el estudio?</strong></h2>
<p>Todos aquellos que aplican a alguna oferta desde la web de Michael Page o Page Personnel, independientemente de su situación profesional (empleado o desempleado). De esta manera, la encuesta es anónima y hemos segmentado las respuestas por tres grupos de edad. Los que están por debajo de 30 años, los de 30-49 años y finalmente los que son mayores de 49 años.</p>
<h2>
	<strong>¿Por qué utilizar el Índice?</strong></h2>
<p>El Índice de Confianza Laboral nos dará unos resultados exactos y recurrentes, tanto de la percepción de mercado como de la situación profesional de los participantes que aplican a nuestras ofertas.  Por lo tanto, este estudio nos da la oportunidad de saber y comunicar las percepciones de los candidatos cada trimestre y cada año. Tenemos la  posibilidad de realizar un seguimiento sobre la evolución positiva o negativa de los datos. También podemos llegar a extraer la comparación entre los países participantes de Europa Continental.</p>
<h2>
	<strong>¿Cómo se calcula el Índice de Confianza Laboral?</strong></h2>
<p>Sólo el % de las respuestas positivas son tenidas en cuenta para el cálculo. El índice nos muestra básicamente la proporción de los participantes más optimistas.</p>
<p>Por ejemplo:</p>
<p>¿Cómo ves tu situación profesional en los próximos 12 meses con respecto a ampliar tus conocimientos? Peor/Igual/<strong>Mejor</strong>/No contesta   </p>
<p> Si tenemos un 62% de respuestas que han contestado <strong>Mejor</strong>, tomaremos esta muestra del 62% para calcular el Índice de Confianza Laboral.</p>
<h2>
	<strong>¿Qué es lo que se mide exactamente?</strong></h2>
<p>El índice promedio determinado por la edad se calcula sobre la base de las 10 preguntas del cuestionario. 6 de ellas hacen referencia a la situación profesional y las otras 4, son preguntas sobre la percepción del mercado.</p>
<p>Los resultados que hablan sobre la situación profesional incluyen las respuestas optimistas sobre:</p>
<p>- Nivel de conocimiento.</p>
<p>- Alcance de las funciones.</p>
<p>- Promoción de  carrera.</p>
<p>- Salario.</p>
<p>- Conciliación de la vida personal y profesional.</p>
<p>- Si el tiempo para encontrar un nuevo empleo es inferior a 3 meses o no.</p>
<p>La percepción del mercado se basa en las respuestas de los participantes sobre:</p>
<p>- Situación actual del mercado laboral.</p>
<p>- Percepción futura del mercado laboral.  </p>
<p>- Situación económica actual.</p>
<p>- Percepción futura de la situación económica.</p>
<p>De esta manera queremos hacer hincapié que las respuestas sobre la situación profesional y la percepción del mercado, se dividen en grupos de edad. Por debajo de los 30 años, los de 30-49 años y el tercer grupo son todos aquellos a partir de los 49 años.</p>

        </div>
    </div>

    <div class="footer">
        <h2>Zifer.Me Copyrigth 2020</h2>
    </div>

</body>

</html>