<!DOCTYPE html>
<html lang="en">

<head>
    <title>Page Title</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/css/tier1.css">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@1,800;1,900&display=swap" rel="stylesheet">

</head>

<body>

    <div class="header">
        <h1>Zifer.Me</h1>
    </div>

    <div class="navbar">
        <a href="principal">Principal</a>
        <a href="perfil" class="right">Perfil</a>
        <a href="faqs" class="right">FAQs</a>
        <a href="ask" class="right">AsK!!!</a>
    </div>

    <div class="row">
        <div class="side">
            <div class="sidebar">
                <a class="active" href="#home">High Comission</a>
                <a href="#news">News</a>
                <a href="#contact">UnAnswered</a>
                <a href="#about">AsK!!</a>
            </div>

        </div>

        <div class="main">
            <h2>TITLE HEADING</h2>
            <h5>Title description, Dec 7, 2017</h5>
            <div class="fakeimg" style="height:200px;">Image</div>
            <p>Some text..</p>
            <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
            <br>
        </div>
    </div>

    <div class="footer">

        <h2>Zifer.Me Copyrigth 2020</h2>
    </div>

</body>

</html>